*.elc
*.el~
.cask/
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
ac-comphist.dat
bookmarks
eshell/
geben/
image-dired/
network-security.data
projectile-bookmarks.eld
server/
swank/
tramp
var/cache
var/packages
var/backups*
