*.elc
*.el~
.cask/
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
ac-comphist.dat
auto-save-list/
backups/
bookmarks
elpa/
eshell/
geben/
image-dired/
info/
network-security.data
places
projectile-bookmarks.eld
recentf
server/
swank/
tramp
url/
var/
