.cask/
/geben/
/var/
/tramp
auto-save-list/
backups/
elpa/
eshell/
info/
image-dired/
server/
swank/
url/
ac-comphist.dat
bookmarks
network-security.data
projectile-bookmarks.eld
places
.mc-lists.el
*.elc
*.el~
recentf
.emacs.desktop
.emacs.desktop.lock
