[submodule "helm"]
	path = helm
	url = git@github.com:emacs-helm/helm.git
[submodule "scala-mode2"]
	path = lisp.git/scala-mode2
	url = git@github.com:hvesalai/scala-mode2.git
[submodule "lisp.git/helm"]
	path = lisp.git/helm
	url = git@github.com:emacs-helm/helm.git
